html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


/* container (задал всей странице font-size 0px,
то-есть сбросил перенос строки в 4px */

.container {
    width: 900px;
    /* почему мы не можем дать сдесь 
    margin paddidg 0 сдесь? */
    /* margin: 0;
    padding: 0; */
    margin: 0 auto;
    font-size: 0;
}


/* img {
    display: block;
    width: 100%;
    height: auto;
} */


/* site-navigation */

.site-navigation {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.site-navigation a {
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
    color: #626262;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: red;
}

.site-navigation li {
    display: inline-block;
    vertical-align: middle;
    padding: 75px 0px 105px 0px;
}

.site-navigation li:first-child {
    margin-right: 130px;
}

.site-navigation li:nth-last-child(even) {
    margin-right: 110px;
}

.site-navigation li:nth-last-child(3n) {
    margin-right: 100px;
}


/* features-list-items */

.features-list-items {
    width: 420px;
    display: inline-block;
    margin-right: 60px;
    margin-bottom: 130px;
}

.features-list-items:nth-child(2n) {
    margin-right: 0;
}

.features-list-items img {
    margin-bottom: 29px;
}

.features-list-items h2 {
    font-family: 'Playfair Display', serif;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
    color: #b4ad9e;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    margin-bottom: 26px;
}

.features-list-items h3 {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    line-height: 36px;
    color: #626262;
    margin: 0;
    padding: 0;
    margin-bottom: 35px;
}

.features-list-items p {
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    line-height: 24px;
    color: #626262;
    margin: 0;
    padding: 0;
}

.features-list-items:nth-last-child(-n+2) {
    margin-bottom: 54px;
}


/* page-footer */

.page-footer button {
    padding: 0px;
    margin: 0px;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    line-height: 24px;
    border: none;
    width: 164px;
    height: 60px;
    display: block;
    background: none;
    color: #626262;
    border-width: 1px;
    border-color: rgb(98, 98, 98);
    border-style: solid;
    margin-left: 360px;
    cursor: pointer;
    margin-bottom: 70px;
}

.page-footer button:hover,
.page-footer button:focus {
    color: red;
}